<!DOCTYPE html>
<html>
  <head>
    <title>Vehicles Waypoints</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
